<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>目标高校词云</title>
    <link rel="stylesheet" href="https://static.evax.top/css/pico.min.css">
    <style>
        #cloud {
            width: 100%;
            z-index: -1;
            border: 0;
        }
    </style>
</head>
<body>
<main class="container" id="main">
    <hgroup>
        <h1>目标高校词云</h1>
        <h2>匿名版 <a href="https://github.com/gggxbbb/TargetCloud" target="_blank">源代码</a></h2>
    </hgroup>


    <details>
        <summary role="button">添加你的目标</summary>
        <!--suppress HtmlUnknownTarget -->
        <form action="/add" method="post">

            <!--
            <div class="grid">

                <label for="f-class">
                    班级
                    <input type="text" id="f_class" name="class" placeholder="例：高二1班" required>
                </label>

                <label for="f-name">
                    姓名
                    <input type="text" id="f_name" name="name" placeholder="例：张三" required>
                </label>

                <label for="f-id">
                    学号
                    <input type="number" id="f_id" name="id" placeholder="例：0199" required>
                </label>

            </div>
            <small>上述信息仅用于核实身份，不会进行记录。</small>
            <hr>
            -->
            <label for="f-target">
                目标高校
                <input type="text" id="f-target" name="target" placeholder="例：清华大学" required>
                <small>我们不会记录提交者的任何信息</small>
            </label>

            <button type="submit">提交</button>

        </form>
    </details>

    <!--suppress HtmlUnknownTarget, HtmlDeprecatedAttribute -->
    <iframe id="cloud" frameborder="0" scrolling="no"></iframe>

    <!--
    <div style="text-align: center;">
        <a href="/cloud" role="button" id="go-cloud" target="_blank">查看词云</a>
    </div>
    -->

    <!--suppress JSSuspiciousNameCombination -->
    <script>
        function initCloud() {


            const window_width = window.innerWidth;
            const window_height = window.innerHeight;

            const cloud = document.getElementById('cloud');
            const width = cloud.offsetWidth;
            let height;

            if (window_width > window_height) {
                height = width * 0.618;
            } else {
                height = width;
            }

            cloud.style.height = height + 'px';
            cloud.src = '/cloud?width=' + width + '&height=' + height;

            //const goCloud = document.getElementById('go-cloud');
            //goCloud.href = '/cloud?width=' + window_width + '&height=' + window_height;
        }

        window.onload = initCloud;
        window.onresize = initCloud;

    </script>

</main>

</body>
</html>